STRACON-SGC/Dev/Pe.Stracon.SGC/Pe.Stracon.SGC.Infraestructura.Proxy/Service References/SAPProvService/zws_zsgc_obtproveedores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__ZWS_ZSGC_OBTPROVEEDORES">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__ZWS_ZSGC_OBTPROVEEDORES_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZWS_ZSGC_OBTPROVEEDORES">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>000D3A02B85E1EE8B4C54B02B3BDA178</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__ZSGC_OBTPROVEEDORES">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char250">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="250" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char255">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="255" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZSGC_PROVEEDOR">
        <xsd:sequence>
          <xsd:element name="IDENT_FISCAL" type="tns:char20" />
          <xsd:element name="NOMBRE_BP" type="tns:char255" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZTSGC_PROVEEDOR">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZSGC_PROVEEDOR" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZSGC_OBTPROVEEDORES">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="I_BP" type="tns:char250" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZSGC_OBTPROVEEDORESResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="E_PROVEEDOR" type="tns:ZTSGC_PROVEEDOR" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZSGC_OBTPROVEEDORES">
    <wsdl:part name="parameters" element="tns:ZSGC_OBTPROVEEDORES" />
  </wsdl:message>
  <wsdl:message name="ZSGC_OBTPROVEEDORESResponse">
    <wsdl:part name="parameter" element="tns:ZSGC_OBTPROVEEDORESResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWS_ZSGC_OBTPROVEEDORES">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://stns4prd.stracon.com.pe:8004/sap/bc/esdt/docu/sd_text?sap-client=300&amp;sd_name=ZWS_ZSGC_OBTPROVEEDORES" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__ZWS_ZSGC_OBTPROVEEDORES" />
    </wsp:Policy>
    <wsdl:operation name="ZSGC_OBTPROVEEDORES">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__ZSGC_OBTPROVEEDORES" />
      </wsp:Policy>
      <wsdl:input message="tns:ZSGC_OBTPROVEEDORES" />
      <wsdl:output message="tns:ZSGC_OBTPROVEEDORESResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZWS_ZSGC_OBTPROVEEDORES" type="tns:ZWS_ZSGC_OBTPROVEEDORES">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZWS_ZSGC_OBTPROVEEDORES" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZSGC_OBTPROVEEDORES">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZWS_ZSGC_OBTPROVEEDORES:ZSGC_OBTPROVEEDORESRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZWS_ZSGC_OBTPROVEEDORES_soap12" type="tns:ZWS_ZSGC_OBTPROVEEDORES">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZWS_ZSGC_OBTPROVEEDORES_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZSGC_OBTPROVEEDORES">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZWS_ZSGC_OBTPROVEEDORES:ZSGC_OBTPROVEEDORESRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_ZSGC_OBTPROVEEDORES">
    <wsdl:port name="ZWS_ZSGC_OBTPROVEEDORES" binding="tns:ZWS_ZSGC_OBTPROVEEDORES">
      <soap:address location="http://stns4prd.stracon.com.pe:8004/sap/bc/srt/rfc/sap/zws_zsgc_obtproveedores/300/zws_zsgc_obtproveedores/zws_zsgc_obtproveedores" />
    </wsdl:port>
    <wsdl:port name="ZWS_ZSGC_OBTPROVEEDORES_soap12" binding="tns:ZWS_ZSGC_OBTPROVEEDORES_soap12">
      <wsoap12:address location="http://stns4prd.stracon.com.pe:8004/sap/bc/srt/rfc/sap/zws_zsgc_obtproveedores/300/zws_zsgc_obtproveedores/zws_zsgc_obtproveedores" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>