STRACON-SGC/BKP/Dev/Pe.Stracon.SGC/Pe.Stracon.SGC.Infraestructura.Proxy/Service References/AmtService/equipment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.isipl.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.isipl.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.isipl.com/">
      <s:element name="ExportEquipment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportEquipmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportEquipmentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExportEquipmentSoapIn">
    <wsdl:part name="parameters" element="tns:ExportEquipment" />
  </wsdl:message>
  <wsdl:message name="ExportEquipmentSoapOut">
    <wsdl:part name="parameters" element="tns:ExportEquipmentResponse" />
  </wsdl:message>
  <wsdl:portType name="EquipmentSoap">
    <wsdl:operation name="ExportEquipment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method exports all the equipment in AMT.</wsdl:documentation>
      <wsdl:input message="tns:ExportEquipmentSoapIn" />
      <wsdl:output message="tns:ExportEquipmentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EquipmentSoap" type="tns:EquipmentSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExportEquipment">
      <soap:operation soapAction="http://www.isipl.com/ExportEquipment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EquipmentSoap12" type="tns:EquipmentSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExportEquipment">
      <soap12:operation soapAction="http://www.isipl.com/ExportEquipment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Equipment">
    <wsdl:port name="EquipmentSoap" binding="tns:EquipmentSoap">
      <soap:address location="http://sgymhuancayo.gym.com.pe/amtservice/equipment.asmx" />
    </wsdl:port>
    <wsdl:port name="EquipmentSoap12" binding="tns:EquipmentSoap12">
      <soap12:address location="http://sgymhuancayo.gym.com.pe/amtservice/equipment.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>