STRACON-SGC/Prueba/Pe.GyM.Security/Pe.GyM.Security.Account/Service References/SSOAuthenticateService/AuthenticateService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WebUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="B_PHOTO_USER" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ID_USER" type="xs:int" />
      <xs:element minOccurs="0" name="S_DOMAIN_RED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_FULL_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_LAST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_LAST_NAME_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_LAST_NAME_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_LOGIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebUser" nillable="true" type="tns:WebUser" />
  <xs:complexType name="UserStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="RequestIdValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserLoggedIn" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserStatus" nillable="true" type="tns:UserStatus" />
</xs:schema>