STRACON-SGC/Prueba/Pe.GyM.Security/Pe.GyM.Security.Account/Service References/SSOAuthenticateService/AuthenticateService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.244.4.20/SSO/Service/AuthenticateService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="AuthenticateResult" nillable="true" type="q1:WebUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetUserByTokenResult" nillable="true" type="q2:WebUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserLoggedIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserLoggedInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUserLoggedInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RedirectId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsValidRequestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserStauts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserStautsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetUserStautsResult" nillable="true" type="q3:UserStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessToSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUser" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessToSystemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAccessToSystemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>