STRACON-SGC/Master/Pe.GyM.Security/Pe.GyM.Security.Account/Service References/SRASecurityService/SeguridadService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.PermissionAgg" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.PermissionAgg" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.244.4.20/SRAService/SeguridadService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.ActionSRAAgg" />
  <xs:import schemaLocation="http://10.244.4.20/SRAService/SeguridadService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.OptionMAgg" />
  <xs:import schemaLocation="http://10.244.4.20/SRAService/SeguridadService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Domain.Base" />
  <xs:complexType name="ArrayOfPermission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Permission" nillable="true" type="tns:Permission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermission" nillable="true" type="tns:ArrayOfPermission" />
  <xs:complexType name="Permission">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Domain.Base" base="q1:Entity">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.ActionSRAAgg" minOccurs="0" name="E_Action" nillable="true" type="q2:ActionSRA" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.OptionMAgg" minOccurs="0" name="E_OptionM" nillable="true" type="q3:OptionM" />
          <xs:element minOccurs="0" name="N_ID_ACTION" type="xs:int" />
          <xs:element minOccurs="0" name="N_ID_OPTION" type="xs:int" />
          <xs:element minOccurs="0" name="N_ID_ROLE" type="xs:int" />
          <xs:element minOccurs="0" name="S_LEVEL_NAME_PERMISSION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_STATUS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_STATUS_REGISTER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_TYPE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Permission" nillable="true" type="tns:Permission" />
</xs:schema>