STRACON-SGC/Dev/Pe.GyM.Security/Pe.GyM.Security.Account/Service References/SRASecurityService/SeguridadService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.ProfileAgg" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.ProfileAgg" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.244.4.20/SRAService/SeguridadService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.RoleAgg" />
  <xs:import schemaLocation="http://10.244.4.20/SRAService/SeguridadService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Domain.Base" />
  <xs:complexType name="ArrayOfProfile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Profile" nillable="true" type="tns:Profile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfile" nillable="true" type="tns:ArrayOfProfile" />
  <xs:complexType name="Profile">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Domain.Base" base="q1:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="N_ID_PROFILE" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.RoleAgg" minOccurs="0" name="ROLES" nillable="true" type="q2:ArrayOfRole" />
          <xs:element minOccurs="0" name="S_DESCRIPTION_PROFILE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_NAME_PROFILE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_STATUS_REGISTER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_TOKEN" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Profile" nillable="true" type="tns:Profile" />
</xs:schema>