STRACON-SGC/Dev/Pe.GyM.Security/Pe.GyM.Security.Account/Service References/SRASecurityService/SeguridadService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.RoleAgg" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.RoleAgg" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.244.4.20/SRAService/SeguridadService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.PermissionAgg" />
  <xs:import schemaLocation="http://10.244.4.20/SRAService/SeguridadService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.SystemSRAAgg" />
  <xs:import schemaLocation="http://10.244.4.20/SRAService/SeguridadService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Domain.Base" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="Role">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Domain.Base" base="q1:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="N_ID_ROLE" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.PermissionAgg" minOccurs="0" name="PERMISOS" nillable="true" type="q2:ArrayOfPermission" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.SystemSRAAgg" minOccurs="0" name="SISTEMAS" nillable="true" type="q3:ArrayOfSystemSRA" />
          <xs:element minOccurs="0" name="S_DESCRIPTION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_STATUS_REGISTER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_TYPE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
</xs:schema>