STRACON-SGC/Dev/Pe.GyM.Security/Pe.GyM.Security.Account/Service References/SRASecurityService/SeguridadService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.SystemSRAAgg" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.SystemSRAAgg" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.244.4.20/SRAService/SeguridadService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Domain.Base" />
  <xs:complexType name="ArrayOfSystemSRA">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SystemSRA" nillable="true" type="tns:SystemSRA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSystemSRA" nillable="true" type="tns:ArrayOfSystemSRA" />
  <xs:complexType name="SystemSRA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Domain.Base" base="q1:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="N_ID_SYSTEM" type="xs:int" />
          <xs:element minOccurs="0" name="S_DESCRIPTION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_LANGUAGE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_RUTE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_STATUS_REGISTER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_TOKEN" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SystemSRA" nillable="true" type="tns:SystemSRA" />
</xs:schema>