STRACON-SGC/Prueba/Pe.GyM.Security/Pe.GyM.Security.Account/Service References/SRASecurityService/SeguridadService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.BusinessAreaAgg" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.BusinessAreaAgg" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBusinessArea">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessArea" nillable="true" type="tns:BusinessArea" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessArea" nillable="true" type="tns:ArrayOfBusinessArea" />
  <xs:complexType name="BusinessArea">
    <xs:sequence>
      <xs:element minOccurs="0" name="B_ACTIVE" type="xs:boolean" />
      <xs:element minOccurs="0" name="D_DATE_CREATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="D_DATE_UPDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="N_ID_AREA" type="xs:int" />
      <xs:element minOccurs="0" name="S_NAME_COMPLETE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_NAME_SHORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_USER_CREATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_USER_UPDATE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessArea" nillable="true" type="tns:BusinessArea" />
</xs:schema>