STRACON-SGC/BKP/Dev/Pe.GyM.Security/Pe.GyM.Security.Account/Service References/SRASecurityService/SeguridadService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.UserSraAgg" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.UserSraAgg" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.244.4.20/SRAService/SeguridadService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.ProfileAgg" />
  <xs:import schemaLocation="http://10.244.4.20/SRAService/SeguridadService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Domain.Base" />
  <xs:complexType name="UserSRA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Domain.Base" base="q1:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="B_DIGITIZED_SIGNATURE" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="B_PHOTO_USER" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="D_DATE_ACTIV_PASSWORD" type="xs:dateTime" />
          <xs:element minOccurs="0" name="D_DATE_CREATION" type="xs:dateTime" />
          <xs:element minOccurs="0" name="D_DATE_MODIFICATION" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ID_USER" type="xs:int" />
          <xs:element minOccurs="0" name="N_ID_AREA" type="xs:int" />
          <xs:element minOccurs="0" name="N_ID_COMPANY" type="xs:int" />
          <xs:element minOccurs="0" name="N_NUM_IDENTITY_DOC" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Domain.Implementation.Security.Aggregates.ProfileAgg" minOccurs="0" name="PERFILES" nillable="true" type="q2:ArrayOfProfile" />
          <xs:element minOccurs="0" name="S_DOMAIN_RED" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_EMAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_EMAIL_CONS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_FULL_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_INDICATOR_ASSOCIATED_AD" type="xs:boolean" />
          <xs:element minOccurs="0" name="S_INDICATOR_CHANGE_PASSWORD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_IP_ACCES_USER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_LAST_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_LAST_NAME_1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_LAST_NAME_2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_LOGIN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_NAME_AREA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_NAME_COMPANY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_PASSWORD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_RED_USER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_STATUS_REGISTER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_TERCERO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_TERMINAL_CREATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_TERMINAL_MODIFICATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_TYPE_IDENTITY_DOCUMENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_USER_CREATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="S_USER_MODIFICATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="V_ID_COMPANY" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserSRA" nillable="true" type="tns:UserSRA" />
  <xs:complexType name="ArrayOfUserSRA">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserSRA" nillable="true" type="tns:UserSRA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserSRA" nillable="true" type="tns:ArrayOfUserSRA" />
</xs:schema>