STRACON-SGC/Master/Pe.Stracon.SGC/Pe.Stracon.SGC.Infraestructura.Proxy/Service References/OracleService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerPosicionCaja">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ruc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codproyecto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="periodo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPosicionCajaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerPosicionCajaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProveedoresEnUso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pRUC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pRUC2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProveedoresEnUsoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProveedoresEnUsoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerProveedoresTodos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="busqueda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerProveedoresTodosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerProveedoresTodosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerProveedores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="busqueda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerProveedoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerProveedoresResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerClientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="busqueda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerClientesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerFrentes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RUC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodProyecto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerFrentesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerFrentesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPartidas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RUC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodProyecto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPartidasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerPartidasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CostosAcumulados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodProyecto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Periodo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CostosAcumuladosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CostosAcumuladosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCostosRealyAcumulado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ruc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodigoObra" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ejercicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Periodo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodigoMoneda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCostosRealyAcumuladoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCostosRealyAcumuladoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerPosicionCajaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerPosicionCaja" />
  </wsdl:message>
  <wsdl:message name="ObtenerPosicionCajaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerPosicionCajaResponse" />
  </wsdl:message>
  <wsdl:message name="ProveedoresEnUsoSoapIn">
    <wsdl:part name="parameters" element="tns:ProveedoresEnUso" />
  </wsdl:message>
  <wsdl:message name="ProveedoresEnUsoSoapOut">
    <wsdl:part name="parameters" element="tns:ProveedoresEnUsoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerProveedoresTodosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerProveedoresTodos" />
  </wsdl:message>
  <wsdl:message name="ObtenerProveedoresTodosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerProveedoresTodosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerProveedoresSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerProveedores" />
  </wsdl:message>
  <wsdl:message name="ObtenerProveedoresSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerProveedoresResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerClientesSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerClientes" />
  </wsdl:message>
  <wsdl:message name="ObtenerClientesSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerClientesResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerFrentesSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerFrentes" />
  </wsdl:message>
  <wsdl:message name="ObtenerFrentesSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerFrentesResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerPartidasSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerPartidas" />
  </wsdl:message>
  <wsdl:message name="ObtenerPartidasSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerPartidasResponse" />
  </wsdl:message>
  <wsdl:message name="CostosAcumuladosSoapIn">
    <wsdl:part name="parameters" element="tns:CostosAcumulados" />
  </wsdl:message>
  <wsdl:message name="CostosAcumuladosSoapOut">
    <wsdl:part name="parameters" element="tns:CostosAcumuladosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerCostosRealyAcumuladoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCostosRealyAcumulado" />
  </wsdl:message>
  <wsdl:message name="ObtenerCostosRealyAcumuladoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCostosRealyAcumuladoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerPosicionCajaHttpGetIn">
    <wsdl:part name="ruc" type="s:string" />
    <wsdl:part name="codproyecto" type="s:string" />
    <wsdl:part name="periodo" type="s:string" />
    <wsdl:part name="mes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerPosicionCajaHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ProveedoresEnUsoHttpGetIn">
    <wsdl:part name="pRUC" type="s:string" />
    <wsdl:part name="pRUC2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProveedoresEnUsoHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ObtenerProveedoresTodosHttpGetIn">
    <wsdl:part name="busqueda" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerProveedoresTodosHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ObtenerProveedoresHttpGetIn">
    <wsdl:part name="busqueda" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerProveedoresHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ObtenerClientesHttpGetIn">
    <wsdl:part name="busqueda" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerClientesHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ObtenerFrentesHttpGetIn">
    <wsdl:part name="RUC" type="s:string" />
    <wsdl:part name="CodProyecto" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerFrentesHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ObtenerPartidasHttpGetIn">
    <wsdl:part name="RUC" type="s:string" />
    <wsdl:part name="CodProyecto" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerPartidasHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="CostosAcumuladosHttpGetIn">
    <wsdl:part name="CodProyecto" type="s:string" />
    <wsdl:part name="Periodo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CostosAcumuladosHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ObtenerCostosRealyAcumuladoHttpGetIn">
    <wsdl:part name="Ruc" type="s:string" />
    <wsdl:part name="CodigoObra" type="s:string" />
    <wsdl:part name="Ejercicio" type="s:string" />
    <wsdl:part name="Periodo" type="s:string" />
    <wsdl:part name="CodigoMoneda" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerCostosRealyAcumuladoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerPosicionCajaHttpPostIn">
    <wsdl:part name="ruc" type="s:string" />
    <wsdl:part name="codproyecto" type="s:string" />
    <wsdl:part name="periodo" type="s:string" />
    <wsdl:part name="mes" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerPosicionCajaHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ProveedoresEnUsoHttpPostIn">
    <wsdl:part name="pRUC" type="s:string" />
    <wsdl:part name="pRUC2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProveedoresEnUsoHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ObtenerProveedoresTodosHttpPostIn">
    <wsdl:part name="busqueda" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerProveedoresTodosHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ObtenerProveedoresHttpPostIn">
    <wsdl:part name="busqueda" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerProveedoresHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ObtenerClientesHttpPostIn">
    <wsdl:part name="busqueda" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerClientesHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ObtenerFrentesHttpPostIn">
    <wsdl:part name="RUC" type="s:string" />
    <wsdl:part name="CodProyecto" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerFrentesHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ObtenerPartidasHttpPostIn">
    <wsdl:part name="RUC" type="s:string" />
    <wsdl:part name="CodProyecto" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerPartidasHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="CostosAcumuladosHttpPostIn">
    <wsdl:part name="CodProyecto" type="s:string" />
    <wsdl:part name="Periodo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CostosAcumuladosHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ObtenerCostosRealyAcumuladoHttpPostIn">
    <wsdl:part name="Ruc" type="s:string" />
    <wsdl:part name="CodigoObra" type="s:string" />
    <wsdl:part name="Ejercicio" type="s:string" />
    <wsdl:part name="Periodo" type="s:string" />
    <wsdl:part name="CodigoMoneda" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerCostosRealyAcumuladoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ObtenerPosicionCaja">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve posicion de caja</wsdl:documentation>
      <wsdl:input message="tns:ObtenerPosicionCajaSoapIn" />
      <wsdl:output message="tns:ObtenerPosicionCajaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProveedoresEnUso">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Proveedores en Uso</wsdl:documentation>
      <wsdl:input message="tns:ProveedoresEnUsoSoapIn" />
      <wsdl:output message="tns:ProveedoresEnUsoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProveedoresTodos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve datos de Todos los Proveedores</wsdl:documentation>
      <wsdl:input message="tns:ObtenerProveedoresTodosSoapIn" />
      <wsdl:output message="tns:ObtenerProveedoresTodosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProveedores">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve datos de los Proveedores</wsdl:documentation>
      <wsdl:input message="tns:ObtenerProveedoresSoapIn" />
      <wsdl:output message="tns:ObtenerProveedoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerClientes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve datos de los Clientes</wsdl:documentation>
      <wsdl:input message="tns:ObtenerClientesSoapIn" />
      <wsdl:output message="tns:ObtenerClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFrentes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve datos de los frentes de un proyecto determinado</wsdl:documentation>
      <wsdl:input message="tns:ObtenerFrentesSoapIn" />
      <wsdl:output message="tns:ObtenerFrentesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPartidas">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve datos de las partidas de un proyecto determinado</wsdl:documentation>
      <wsdl:input message="tns:ObtenerPartidasSoapIn" />
      <wsdl:output message="tns:ObtenerPartidasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CostosAcumulados">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve los costos acumulados por proyecto y partidas</wsdl:documentation>
      <wsdl:input message="tns:CostosAcumuladosSoapIn" />
      <wsdl:output message="tns:CostosAcumuladosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCostosRealyAcumulado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">HGyM (Panel de Control): Devuelve los costos Real y Acumulado de un determinado proyecto</wsdl:documentation>
      <wsdl:input message="tns:ObtenerCostosRealyAcumuladoSoapIn" />
      <wsdl:output message="tns:ObtenerCostosRealyAcumuladoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="ObtenerPosicionCaja">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve posicion de caja</wsdl:documentation>
      <wsdl:input message="tns:ObtenerPosicionCajaHttpGetIn" />
      <wsdl:output message="tns:ObtenerPosicionCajaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ProveedoresEnUso">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Proveedores en Uso</wsdl:documentation>
      <wsdl:input message="tns:ProveedoresEnUsoHttpGetIn" />
      <wsdl:output message="tns:ProveedoresEnUsoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProveedoresTodos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve datos de Todos los Proveedores</wsdl:documentation>
      <wsdl:input message="tns:ObtenerProveedoresTodosHttpGetIn" />
      <wsdl:output message="tns:ObtenerProveedoresTodosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProveedores">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve datos de los Proveedores</wsdl:documentation>
      <wsdl:input message="tns:ObtenerProveedoresHttpGetIn" />
      <wsdl:output message="tns:ObtenerProveedoresHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerClientes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve datos de los Clientes</wsdl:documentation>
      <wsdl:input message="tns:ObtenerClientesHttpGetIn" />
      <wsdl:output message="tns:ObtenerClientesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFrentes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve datos de los frentes de un proyecto determinado</wsdl:documentation>
      <wsdl:input message="tns:ObtenerFrentesHttpGetIn" />
      <wsdl:output message="tns:ObtenerFrentesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPartidas">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve datos de las partidas de un proyecto determinado</wsdl:documentation>
      <wsdl:input message="tns:ObtenerPartidasHttpGetIn" />
      <wsdl:output message="tns:ObtenerPartidasHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CostosAcumulados">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve los costos acumulados por proyecto y partidas</wsdl:documentation>
      <wsdl:input message="tns:CostosAcumuladosHttpGetIn" />
      <wsdl:output message="tns:CostosAcumuladosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCostosRealyAcumulado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">HGyM (Panel de Control): Devuelve los costos Real y Acumulado de un determinado proyecto</wsdl:documentation>
      <wsdl:input message="tns:ObtenerCostosRealyAcumuladoHttpGetIn" />
      <wsdl:output message="tns:ObtenerCostosRealyAcumuladoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="ObtenerPosicionCaja">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve posicion de caja</wsdl:documentation>
      <wsdl:input message="tns:ObtenerPosicionCajaHttpPostIn" />
      <wsdl:output message="tns:ObtenerPosicionCajaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ProveedoresEnUso">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Proveedores en Uso</wsdl:documentation>
      <wsdl:input message="tns:ProveedoresEnUsoHttpPostIn" />
      <wsdl:output message="tns:ProveedoresEnUsoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProveedoresTodos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve datos de Todos los Proveedores</wsdl:documentation>
      <wsdl:input message="tns:ObtenerProveedoresTodosHttpPostIn" />
      <wsdl:output message="tns:ObtenerProveedoresTodosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProveedores">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve datos de los Proveedores</wsdl:documentation>
      <wsdl:input message="tns:ObtenerProveedoresHttpPostIn" />
      <wsdl:output message="tns:ObtenerProveedoresHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerClientes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve datos de los Clientes</wsdl:documentation>
      <wsdl:input message="tns:ObtenerClientesHttpPostIn" />
      <wsdl:output message="tns:ObtenerClientesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFrentes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve datos de los frentes de un proyecto determinado</wsdl:documentation>
      <wsdl:input message="tns:ObtenerFrentesHttpPostIn" />
      <wsdl:output message="tns:ObtenerFrentesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPartidas">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve datos de las partidas de un proyecto determinado</wsdl:documentation>
      <wsdl:input message="tns:ObtenerPartidasHttpPostIn" />
      <wsdl:output message="tns:ObtenerPartidasHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CostosAcumulados">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve los costos acumulados por proyecto y partidas</wsdl:documentation>
      <wsdl:input message="tns:CostosAcumuladosHttpPostIn" />
      <wsdl:output message="tns:CostosAcumuladosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCostosRealyAcumulado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">HGyM (Panel de Control): Devuelve los costos Real y Acumulado de un determinado proyecto</wsdl:documentation>
      <wsdl:input message="tns:ObtenerCostosRealyAcumuladoHttpPostIn" />
      <wsdl:output message="tns:ObtenerCostosRealyAcumuladoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerPosicionCaja">
      <soap:operation soapAction="http://tempuri.org/ObtenerPosicionCaja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProveedoresEnUso">
      <soap:operation soapAction="http://tempuri.org/ProveedoresEnUso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProveedoresTodos">
      <soap:operation soapAction="http://tempuri.org/ObtenerProveedoresTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProveedores">
      <soap:operation soapAction="http://tempuri.org/ObtenerProveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerClientes">
      <soap:operation soapAction="http://tempuri.org/ObtenerClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFrentes">
      <soap:operation soapAction="http://tempuri.org/ObtenerFrentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPartidas">
      <soap:operation soapAction="http://tempuri.org/ObtenerPartidas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CostosAcumulados">
      <soap:operation soapAction="http://tempuri.org/CostosAcumulados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCostosRealyAcumulado">
      <soap:operation soapAction="http://tempuri.org/ObtenerCostosRealyAcumulado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerPosicionCaja">
      <soap12:operation soapAction="http://tempuri.org/ObtenerPosicionCaja" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProveedoresEnUso">
      <soap12:operation soapAction="http://tempuri.org/ProveedoresEnUso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProveedoresTodos">
      <soap12:operation soapAction="http://tempuri.org/ObtenerProveedoresTodos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProveedores">
      <soap12:operation soapAction="http://tempuri.org/ObtenerProveedores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerClientes">
      <soap12:operation soapAction="http://tempuri.org/ObtenerClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFrentes">
      <soap12:operation soapAction="http://tempuri.org/ObtenerFrentes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPartidas">
      <soap12:operation soapAction="http://tempuri.org/ObtenerPartidas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CostosAcumulados">
      <soap12:operation soapAction="http://tempuri.org/CostosAcumulados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCostosRealyAcumulado">
      <soap12:operation soapAction="http://tempuri.org/ObtenerCostosRealyAcumulado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerPosicionCaja">
      <http:operation location="/ObtenerPosicionCaja" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProveedoresEnUso">
      <http:operation location="/ProveedoresEnUso" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProveedoresTodos">
      <http:operation location="/ObtenerProveedoresTodos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProveedores">
      <http:operation location="/ObtenerProveedores" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerClientes">
      <http:operation location="/ObtenerClientes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFrentes">
      <http:operation location="/ObtenerFrentes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPartidas">
      <http:operation location="/ObtenerPartidas" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CostosAcumulados">
      <http:operation location="/CostosAcumulados" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCostosRealyAcumulado">
      <http:operation location="/ObtenerCostosRealyAcumulado" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerPosicionCaja">
      <http:operation location="/ObtenerPosicionCaja" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProveedoresEnUso">
      <http:operation location="/ProveedoresEnUso" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProveedoresTodos">
      <http:operation location="/ObtenerProveedoresTodos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProveedores">
      <http:operation location="/ObtenerProveedores" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerClientes">
      <http:operation location="/ObtenerClientes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFrentes">
      <http:operation location="/ObtenerFrentes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPartidas">
      <http:operation location="/ObtenerPartidas" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CostosAcumulados">
      <http:operation location="/CostosAcumulados" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCostosRealyAcumulado">
      <http:operation location="/ObtenerCostosRealyAcumulado" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://172.24.20.50/ws_oracle/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://172.24.20.50/ws_oracle/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://172.24.20.50/ws_oracle/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://172.24.20.50/ws_oracle/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>